<h1>Tambah Pelanggan</h1>
<form action="/admin/add" method="POST">
    <label>Nama:</label>
    <input type="text" name="nama" required>
    <label>Alamat:</label>
    <input type="text" name="alamat" required>
    <button type="submit">Tambah</button>
</form>