<!DOCTYPE html>
<html>
<head>
    <title>Pelanggan Management</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Pelanggan Management System</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/add">Add New Pelanggan</a>
        </nav>
    </header>
    <main>
       
    </main>
</body>
</html>
