<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Teman Cuci Sepatu</title>
</head>

<body>
    <div class="logo">
        <img src="./assets/logo.png" alt="TEMAN CUCI SEPATU">
    </div>
    <header class="mainHeader">
        <h1 class="boldLogo"> TEMAN CUCI SEPATU</h1>
        <h3 class="smallLogo">Specialist Shoes Cleaning</h3>
    </header>
    <div class="sideBarLeft">
        <div class="alamat">
            <div class="alamat-judul">
                <div class="sideBarLeft-judul">Teman Cuci</div>
                <div class="sideBarLeft-judul">Sepatu</div>
            </div>
            <div class="jalan"><img src="./assets/lokasi.svg" alt="" class="vector-alamat"> Keputih Tegal 36 C</div>
            <div class="jalan"><img src="./assets/kalender.svg" alt="" class="vector-alamat"> Senin &#8211; Jumat</div>
            <div class="jalan"><img src="./assets/jam.svg" alt="" class="vector-alamat"> 3 PM &#8211; 9 PM</div>
        </div>


    </div>
    <div class="content">

        <form class="registerForm" method="POST" action="/register">
            <h2 class="registerForm-judul">Register</h2>
            <input type="text" name="nama" class="input" placeholder="Nama">
            <input type="text" name="alamat" class="input" placeholder="Alamat">
            <input type="text" name="noTelepon" class="input" placeholder="No Telepon">
            <button type="submit" class="btn btn-click">OKE</button>
            <p>Sudah punya akun? <a href="/login">Login</a></p>
        </form>


    </div>
    <div class="sideBarRight">
        <img src="./assets/sepatu.png" alt="" class="img-sepatu">
    </div>


    <footer>
        <div>Follow Us On Instagram : @teman.cuci.sepatu</div>
    </footer>


</body>

</html>