@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;700&display=swap');
:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #deff58;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
    --colornav-nav: #3eff2d;
}
body{
    background-color: var(--color-base2);
    font-family: var(--font-base),sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}
a{
    text-decoration:  none;
    color: var(--color-body);
    transition: all 0.4s ease;
}
a:hover{
    color: var(--color-brand);
}
img{
    width: 100%;
    object-fit: cover;
}

.text-from{
 color: rgb(255, 141, 2);   
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-top: 80px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}


/*Navbar*/
/*
@media(min-widht: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71,0.9),rgba(3, 63, 71,0.9)),url(../images/OIP.jpg);
    }
}
*/
/*masih mencari dimana yang letak bedanya dengan contoh dibawahnya*/
.navbar{
    background-color: var(--color-base);
}


.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.navbar .nav-link:hover{
    color: var(--color-brand);
}


@media (min-width: 992px) {
    .navbar {
      min-height: 100vh;
      width: var(--sidbar-width);
      background: linear-gradient(rgba(35, 255, 31, 0.875),rgba(3, 63, 71,0.8)),url(../images/OIP.jpg);
      background-size: cover;
      background-position: center;
    }
    .navbar-brand img{
        border:4px solid var(--color-brand) ;
    }
    /*CONTENT WRAPPER*/
    #content-wrapper
     {
        padding-left: var(--sidbar-width);
      }
   
}

/*button*/
.btn {
    padding: 12px 28px;
    font-weight: 700;
  }
  
  .btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    cursor: pointer;
  }
  
  .btn-brand:hover,
  .btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-brand);
    border-color: var(--color-brand2);
  }
  
  /* Add this CSS code to keep the text from disappearing when the button is clicked */
  .btn-brand:active {
    text-decoration: none;
  }
  .link-custom{
    font-weight: 700;
    position: relative;
  }
  .link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
  }
  .link-custom:hover::after{
    width: 100%;
  }

  /*ABOUT*/
  .timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .container-about{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
   
  }
  @keyframes movedown{
    0%{
      opacity: 1;
      transform: translateY(-30px);
    }
    /* saya menggunakan transform dari minus ke positif agar gerak garis tengahnya kebawah */
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  /* untuk menambahkan animasi perkotak akan muncul dengan jeda masing masing 1 detik */
  .container-about:nth-child(1){
    animation-delay: 0s;
  }
  .container-about:nth-child(2){
    animation-delay: 1s;
  }
  .container-about:nth-child(3){
    animation-delay: 2s;
  }

  .text-box{
    padding: 20px 30 px;
    background: white;
    position: relative;
    border-radius: 6px;
    font-size: 15px; 
  }
  .fortitle{
    font-weight: 700;
    color: black;
  }
  .left-container-about    {
    right: 0%;
  }
  .right-container-about{
    left: 50%;
  }
  .container-about img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  .right-container-about img{
    left: -20px;
  }
  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation:moveline 6s linear forwards;
  }
  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 100%;
    }
  }

  .text-box h2{
    font-weight: 500;
  }
  .text-box small{
    display: inline-block;
    margin-bottom: 20px;
  }
  .right-container-about-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px ;

  }
  .left-container-about-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px;
  }

  @media screen and(max-widht:600px) {
    .timeline{
      margin: 50px auto;
    }
    .timeline::after{
      left: 31px;
    }
    .container-about{
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    } 
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .left-container-about{
      left: 0;
    }
    .left-container-about img, .right-container-about{
      left: 10px;
    }
    .left-container-about-arrow, .right-container-about-arrow{
      border-right: 15px solid white;
      border-left: 0;
      left: -15px;
    }
  }

/* experience */
.text-box{
  align-items: center;
}
.pameran{
  padding-left: 12px;
  padding-top:  12px;
  padding-bottom:  12px;
  padding-right:  12px;
  display: inline-block;
  width: 200px;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0,0, 0.3);
  margin-left: 30px;
  background-color: white;
  justify-content: center;
  align-items: center;
  transition: padding 0.15s,
  margin 0.15s;
}
.pameran:hover {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
.pamerantitle{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  margin-left: 8px;

  margin-bottom: 4px;
  
}

.pamerfoto{
  height: 175px;
  width: 175px;
  vertical-align: super;
  display: inline-block;
  object-fit: cover;
  

}
.tahun{
  margin-left: 5px;    
}

button{
  border: none;
  background-color: rgb(47, 151, 242);
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  border-radius:8px ;
}
button:hover{
  color:  rgb(47, 151, 242);
  color: white;
  cursor: pointer;
}
button:active{
  opacity: 0.6;
}
.spasi{
  padding-left: var(--sidbar-width);
}
.spasi2{
  padding-left: var(--sidbar-width);
}
.contact1{
    text-align: center ;
    color: white ;
    background:#0A66c2 ;
    padding-top: 15px ;
    padding-bottom: 15px ;
}
.contact2{
  text-align: center ;
  color: white ;
  background:#3f729b ;
  padding-top: 15px ;
  padding-bottom: 15px ;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(162,29,201,1) 28%, rgba(155,43,185,1) 34%, rgba(186,7,216,1) 49%, rgba(252,176,69,1) 100%);
}
.contact3{
  text-align: center ;
  color: white ;
  background:rgb(19, 219, 19);
  padding-top: 15px ;
  padding-bottom: 15px ;
}

/* experience */