*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #2e364a;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0,0,0,0.3);
  }
  .text-box{
    padding: 20px 30 px;
    background: white;
    position: relative;
    border-radius: 6px;
    font-size: 15px; 
  }
  .fortitle{
    font-weight: 700;
    color: black;
  }
  .left-container{
    right: 0%;
  }
  .right-container{
    left: 50%;
  }
  .container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  .right-container img {
    left: -20px;
  }
  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation:moveline 6s linear forwards;
  }
  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 100%;
    }
  }
